<nav class="blue darken-4">
  <div class="nav-wrapper">
    <div class="container">
    <a href="/">Главное</a>
    <a href="/1">1</a>
    <a href="/2">2</a>
    <a href="/3">3</a>
    </div>

    {{!-- <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isIndex}}
      <li class="active"><a href="/">Todos</a></li>
      {{else}}
      <li><a href="/">Todos</a></li>
      {{/if}}

      {{#if isOne}}
      <li class="active"><a href="/1">1</a></li>
      {{else}}
      <li><a href="/1">1</a></li>
      {{/if}}
      
      {{#if isTwo}}
      <li class="active"><a href="/2">1</a></li>
      {{else}}
      <li><a href="/2">2</a></li>
      {{/if}}

    </ul> --}}
  </div>
</nav>