<h2>7 вариант</h2>
<h4>Задания</h4>
<p>1) Даны три числа. Найти среднее из них (то есть число, расположенное между наименьшим и наибольшим)</p>
<p>2) Дано предложение. Все пробелы в нем заменить символом "_".</p>
<p>3) Описать класс «домашняя библиотека». Предусмотреть возможность 
  работы с произвольным числом книг, поиска книги по какому-либо 
признаку (например, по автору или по году издания), добавления книг 
в библиотеку, удаления книг из нее, сортировки книг по разным 
полям.
</p>